.listContainer {
  margin-top: 40px;
}

.listTokens {
  display: flex;
  flex-direction: column;
}

.listTitles {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px 25px 45px;
}

.listTitles strong {
  font-size: 1.2rem;
  letter-spacing: 1.8px;
}